[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-storages = {extras = ["s3"], version = "*"}
python-dotenv = "*"
factory-boy = "*"
coverage = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
