[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-storages = {extras = ["s3"], version = "*"}
python-dotenv = "*"
factory-boy = "*"
drf-spectacular = "*"
django-cors-headers = "*"
psycopg2 = "*"
celery = "*"
redis = "*"
gunicorn = "*"

[dev-packages]
black = "*"
coverage = "*"

[requires]
python_version = "3.9"
